.Header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;



}

.greetings{
   
    width: auto;
    padding-top: 2%;
    padding-left: 5%;

}

.NewPostAndMeetingButtons{
    display: flex;

    padding-top: 2.5%;
    padding-right: 5%;

}
.NewMeetingButton{
    padding-left:3% ;
}